# Local service
SERVER_PORT="8080"

# Kafka
KAFKA_BOOTSTRAP_SERVERS="localhost:9092"

# Downstream services
IDENTITY_SERVICE_URL="http://localhost:8081"
FILE_SERVICE_URL="http://localhost:8082"
STORAGE_SERVICE_URL="http://localhost:8083"
SHARING_SERVICE_URL="http://localhost:8084"
